.payment_status_box{
    float: left;
    display: table;
    color: #FFF;
    font-weight: bold;
}

.payment_status_box  span{
    display: block;
    text-align: center;
    padding: 6px 15px;
    font-size: 10px;
    border-radius: 2px;
}

.payment_status_box .to_expire{
    background-color: #1300a3;
}

.payment_status_box .expired{
    background-color: #aa0000;
}

.payment_status_box .received_or_payed{
    background-color: #00c613;
}
