<?xml version="1.0" encoding="UTF-8" ?>
<odoo>
    <template id="assets_backend" name="custom_backend_theme" inherit_id="web.assets_backend">
        <xpath expr="." position="inside">
            <script type="text/javascript" src="/web_set_title_page/static/src/js/web_set_title_page.js"></script>
        </xpath>
    </template>

    <template id="layout" name="Multi Backend" inherit_id="web.layout">
        <xpath expr="//link[@t-att-href=x_icon or '/web/static/src/img/favicon.ico']" position="replace">
            <link type="image/x-icon" rel="shortcut icon" t-att-href= "x_icon or '/web_set_title_page/static/src/img/favicon.ico'"/>
        </xpath>
    </template>
</odoo>