body.container {
    background: url("/web_custom_login_page/static/src/img/system_background.jpg");
    width: 100%;
    height: auto;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-size: 100% 100%;

    background-repeat: no-repeat;
    background-position: center center;
}

@media (max-width: 767px) {
    body.container {
        background: #444;
    }
    body.container div.o_database_list {
        opacity: 0.8;
        margin: 10px;
    }
}

@media (min-width: 768px) {
    body.container div.o_database_list {
        width: 40%;
        margin: 10% 30%;
    }
}

body.container div.o_database_list {{
    opacity: 0.8;
    transition:1s;
}

body.container div.o_database_list {:hover{
    opacity: 1;
    transition:1s;
}