body.container {
    background: url("/web_custom_login_page/static/src/img/system_background.jpg");
    width: 100%;
    height: auto;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-size: 100% 100%;

    background-repeat: no-repeat;
    background-position: center center;
}

.o_database_list{
    opacity: 0.8;
    width: 40%;
    margin: 10% 30% !important;
    transition:1s;
}

.o_database_list:hover{
    opacity: 1;
    transition:1s;
}